.homeword {
    margin-left: 30px;
}

.home_scss {
    background-image: url(https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2338&q=80);
    height: 62vh;
    background-position: center;
    background-position-y: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-size: 100%;
}

.homeButton {
    margin-left: 10px;
    margin-top: 100px;
}